extends layout

block content
    div(class="container")
        form(class="form-signin" action="/login" method="post")
            h2(class="form-signin-heading") Digite seus dados
            label(for="inputUser" class="sr-only") Usuário
            input(id="inputUser" 
                  name="username"
                  class="form-control" 
                  placeholder="Usuário" 
                  required 
                  autofocus)
            label(for="inputPassword" class="sr-only") Senha
            input(type="password" 
                  id="inputPassword" 
                  name="password"
                  class="form-control" 
                  placeholder="Senha" 
                  required)
            button(class="btn btn-lg btn-primary btn-block" type="submit") Fazer login